.center {
  height: 93vh;
  background-color: #eaeff1;
}

.landing-page {
  width: 100%;
  height: 100%;
  text-align: center;
}

.landing-page svg {
  width: 80%;
}

.head {
  margin: 3vw 30vw 20vh 6vw;
  padding: 0;
}

.landing-page h1 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 10;
  font-size: 36px;
  line-height: 52px;
  text-align: right;
  text-transform: capitalize;
  color: #000000;
}

.landing-page h2 {
  margin: 0;
  margin-left: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  text-transform: lowercase;
  color: #757575;
}

.stats-view {
  width: 100%;
  height: 100%;
}

.graph {
  width: 100%;
  height: 50%;
}

.stats-table {
  height: 50%;
}

.param-button-list {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 15%;
}

.current-param-table {
  width: 100%;
  overflow-y: auto;
  height: 70%;
}

.graph-modify-list {
  width: 100%;
  height: 15%;
}

/* ********************************************************************************** */
/* *************************** MEDIA 800PX ****************************************** */
/* ********************************************************************************** */
@media only screen and (max-width: 800px) {
  .center {
    width: 100vw;
  }
  .graph {
    width: 100vw;
  }
  .stats-table {
    max-width: 100vw;
  }
}
