.left-menu {
  background-color: #e0e0e0;
  height: 95vh;
  width: 20vw;
  overflow-x: auto;
  padding: 2px 2px 2px 2px;
}

.param-list,
.param,
.refill {
  width: 100%;
}

.param-list {
  margin: 0 10px 10px 0;
}

.group-list-title {
  white-space: nowrap;
  font-family: "Droid serif", serif;
  line-height: 15px;
  margin: 0;
  color: #616161;
}

/* ********************************************************************************** */
/* *************************** MEDIA 800PX ****************************************** */
/* ********************************************************************************** */
@media only screen and (max-width: 800px) {
  /* TODO: Add active and not active state - default not active + some hamburger?*/
  .left-menu {
    visibility: hidden;
    display: none;
  }

  .left-menu--active {
    z-index: 9999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;
  }
}
