.menu--active,
.menu {
  background-color: #18202c;
  height: 100vh;
  width: 19vw;
  z-index: 3;
  overflow-y: auto;
}

.title {
  height: 7vh;
  width: 100%;
  align-items: center;
  background-color: #232f3e;
}

.title * {
  width: 100%;
}

.title-h1 {
  font-weight: bold;
  font-family: "Poppins";
  font-style: normal;
  font-size: 1em;
  line-height: 5.4vh;
  text-align: center;
  color: #bdc1c5;
  margin: 0;
}

.refill {
  width: 100%;
}

.param-value span,
.refill-value span {
  color: #bdc1c5;
  white-space: nowrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.param-value p {
  float: right;
  color: #ffffff;
  white-space: nowrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.refill-value p {
  color: #ffffff;
  white-space: nowrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.MuiButton-label {
  color: #bdc1c5;
  padding-right: 0;
  margin-right: 0;
}

.param-list,
.param,
.refill {
  width: 100%;
}

.group-list-title {
  white-space: nowrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 7vh;
  color: #ffffff;
  margin: 0;
}

.group-list-title-button {
  background-color: #232f3e;
}

.group-list-title-button,
.group-list-title-button * {
  width: 100%;
  padding: 0 !important;
}

.divider {
  border: 1px solid #313b49;
  margin: 0;
  width: 100%;
  max-height: 1px;
}

.overview-component,
.overview-component * {
  width: 100%;
  height: 7vh;
  line-height: 7vh;
}

.dialog {
  visibility: visible;
  width: 30vw;
  min-width: 400px;
  height: 80vh;
  background-color: #232f3e;
  border-radius: 15px;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dialog > * {
  width: 50%;
}

.dialog-button {
  width: 70%;
  border-radius: 15px;
  background-color: #313b49;
  margin-bottom: 80px;
}

.dialog-button > * {
  width: 100%;
}

.dialog-title-wrappper {
  width: 100%;
}

.dialog-title {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  color: #bdc1c5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dialog--hidden {
  visibility: hidden;
  display: none;
}

.close-button {
  visibility: hidden;
  display: none;
}

.dialog .MuiTypography-colorTextSecondary {
  color: #ffffff;
}

.new-param-table {
  width: 60% !important;
  max-height: 30%;
}

.dialog-table-cell {
  color: white !important;
}

.value {
  text-align: center !important;
}
/* ********************************************************************************** */
/* *************************** MEDIA 800PX ****************************************** */
/* ********************************************************************************** */
@media only screen and (max-width: 800px) {
  .menu {
    visibility: hidden;
    display: none;
  }

  .menu--active {
    background-color: #18202c;
    position: absolute;
    z-index: 3;
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
  }

  .dialog {
    visibility: visible;
    min-width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  .dialog > * {
    width: 70%;
  }

  .dialog-title-wrappper {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }

  .dialog-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .close-button {
    visibility: visible;
    display: block;
    position: absolute;
    right: 32px;
    top: 46px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }

  .close-button:before,
  .close-button:after {
    position: absolute;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #ffffff;
  }

  .close-button:before {
    transform: rotate(45deg);
  }

  .close-button:after {
    transform: rotate(-45deg);
  }

  .dialog-button {
    margin-bottom: 100px;
  }

  .new-param-table {
    width: 70% !important;
    max-height: 40%;
  }
}
