.top-nav {
  background-color: rgb(120, 150, 200);
  height: 5vh;
  width: 100vw;
  display: flex;
}

.title {
  width: 90%;
  height: 100%;
  color: #cef0d4;
  font-family: "Droid serif", serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: -5px 10px 0;
  text-align: left;
}

.login {
  width: 10%;
  height: 100%;
  display: flex;
  text-align: center;
}

.login > * {
  padding: 0 1vw 0 1vw;
}

.message-icon {
  margin-top: 10px;
}
